@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

h2 {
  color: rgb(63, 63, 63);
  font-family: "Encode Sans SC", sans-serif;
}

.manage-spots-page {
  margin-left: 4rem;
  margin-right: 2rem;
}

.manage-spots-top {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.manage-spots-top button {
  width: 10rem;
  height: 1.5rem;
  background-color: rgb(97, 219, 162);
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color:  rgb(83, 83, 83);
  border: 1px solid rgb(83, 83, 83);
  box-shadow: 2px 2px 2px rgb(83, 83, 83);
}

.manage-spot-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 4fr));
  margin-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.manage-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.manage-buttons button {
  width: 10rem;
  height: 1.5rem;
  background-color: rgb(120, 191, 206);
  cursor: pointer;
  font-weight: bold;
  color:  rgb(83, 83, 83);
  border: 1px solid rgb(83, 83, 83);
  box-shadow: 2px 2px 2px rgb(83, 83, 83);
}
    /* font-family:  "Encode Sans SC", sans-serif; */
