.manage-spots-page {
    margin-left: 4rem;
    margin-right: 2rem;
  }
  
  .manage-spots-top {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  
  .manage-spots-top button {
    width: 10rem;
    height: 1.5rem;
    background-color: rgb(120, 191, 206);
    cursor: pointer;
    font-weight: bold;
    color:  rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
  }
  
  .manage-spot-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 4fr));
    margin-top: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  
  .manage-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  
  .manage-buttons button {
    width: 10rem;
    height: 1.5rem;
    background-color: rgb(120, 191, 206);
    cursor: pointer;
    font-weight: bold;
    color:  rgb(83, 83, 83);
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
  }