body {
   background-color: #F2F0EF; 
   margin: 0; 
   padding: 0;
   box-sizing: border-box; 
   overflow-x: hidden; 
  
}

#spots-lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
    max-width: 1000px;
    margin: 20px auto;
    gap: 20px;
    padding: 0 10px;
  }
  
  .spot-card {
    max-width: 250px;
    background-color: #f7f7d6;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    display: inline-block;
    box-shadow: rgb(49, 49, 49) 0px 5px 15px;
    overflow: visible; 
  }
  
  .spotCardPrice {
    font-weight: bold;
    margin: 7px;
    margin-bottom: 2px;
  }
  
  .spotCardInfoImg {
    height: 15rem;
  width: 100%;
  object-fit: cover; 
  display: block; 
  border-radius: 20px;
  }
  
  .spotCardText {
    display: flex;
    justify-content: space-between;
  }
  
  .starRating {
    width: 70px;
    display: flex;
    justify-content: end;
  }
  
  .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin-left: 170px;
  }
  
  .tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: #192733;
    padding: 5px;
    z-index: 1;
  }
  
  .spot-card:hover .tooltip-text {
    visibility: visible;
  }
  
  #top {
    top: -40px;
    left: -50%;
  }
  
  #top::before {
    top: 80%;
    left: 45%;
  }



