.header {
    border-bottom: 1px solid rgb(83, 83, 83);
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem; 
    margin-right: 5px;
  }