h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
  color: #6e6e6e;
}

.login-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 12;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


form {
  display: flex;
  flex-direction: column;
  width: 100%; 
  height: 50;
  padding: 20px;
  padding-right: 40px;
  margin: 20px;
}

form label {
  margin-bottom: 12px;
  font-size: 14px;
  color: #222222;
  width: 200px;
}

form input {
  width: 100%;
  height: 48px;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  font-size: 16px;
  color: #484848;
  transition: border-color 0.2s ease;
}

form input:focus {
  border-color: #881c01;
  outline: none;
}

form input::placeholder {
  color: #999999;
}

/* Error message styling */
form p {
  font-size: 12px;
  color: #d93900;
  margin-top: -8px;
  margin-bottom: 8px;
}

/* Buttons styling */
.login-button, .demo-user {
  width: 70%;
  padding: 14px;
  background-color: #FF5A5F;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 16px;
}

.login-button:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

.login-button:hover:enabled, .demo-user:hover {
  background-color: #FF5A5F;
}

.demo-user {
  background-color: #E8F0FE;
  margin-top: 8px;
}

.demo-user:hover {
  background-color: #0fa3cc;
}
